@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&family=Nunito:wght@300;400;500;600;700;800;900;1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --text-title: #333333;
    --text-section: #000000;
    --text-sub: #9C9C9C;
    --text-light: #FFFFFF;
    --bg-color: #2C3878;
    --bg-light: #FFFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header,
.main {
    padding: 0 120px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--text-title);
    display: block;
}