.header {
    display: flex;
    justify-content: space-between;
    padding: 42px 0;

    &__logo {

        &-content {
            display: block;
            font-size: 33px;
            font-weight: 700;
            position: relative;

        }

        &-unlogo {
            position: absolute;
            left: 56px;
            bottom: 1px;
            width: 47.5px;
        }

        &-unl {
            position: absolute;
            left: 56px;
            bottom: -4px;

        }

        &-unr {
            position: absolute;
            left: 97px;
            bottom: -4px;
        }


    }

    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-content {
            display: flex;
            justify-content: space-around;

            a {
                padding: 10px;
                margin: 0 37px;
                font-size: 16px;
            }
        }

        &-btn {
            margin-left: 37px;

            .btn {
                color: var(--text-light);
                background-color: var(--bg-color);
            }
        }
    }
}