.service {
    margin-top: 160px;
    position: relative;

    &__main {
        width: 883px;
        padding-right: 45px;
        background-color: var(--text-light);

        .service__text {
            width: 471px;
            font-size: 18px;
            margin-top: 24px;
            line-height: 29px;
            color: var(--text-sub);
        }
    }

    &__image {
        height: 682px;
        position: absolute;
        top: 146px;
        right: 0;
        z-index: -1;
        display: flex;
        align-items: flex-end;

        img {
            width: 1076px;
            object-fit: cover;
        }
    }

}